:root {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

form {
  padding: 0 1em;
  max-width: 400px;
}

@font-face {
  font-family: 'NotoSans';
  src: local('NotoSans-Light'),
    url('../../public/fonts/NotoSans-Light.woff2') format('woff2'),
    url('../../public/fonts/NotoSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: local('NotoSans-Regular'),
    url('../../public/fonts/NotoSans-Regular.woff2') format('woff2'),
    url('../../public/fonts/NotoSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: local('NotoSans-Medium'),
    url('../../public/fonts/NotoSans-Medium.woff2') format('woff2'),
    url('../../public/fonts/NotoSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansJP';
  src: local('NotoSansJP-Light'),
    url('../../public/fonts/NotoSansJP-Light.woff2') format('woff2'),
    url('../../public/fonts/NotoSansJP-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  unicode-range: U+3000-303f, U+3040-309f, U+30A0-30FF, U+ff00-ffef, U+4e00-9faf;
}

@font-face {
  font-family: 'NotoSansJP';
  src: local('NotoSansJP-Regular'),
    url('../../public/fonts/NotoSansJP-Regular.woff2') format('woff2'),
    url('../../public/fonts/NotoSansJP-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+3000-303f, U+3040-309f, U+30A0-30FF, U+ff00-ffef, U+4e00-9faf;
}

@font-face {
  font-family: 'NotoSansJP';
  src: local('NotoSansJP-Medium'),
    url('../../public/fonts/NotoSansJP-Medium.woff2') format('woff2'),
    url('../../public/fonts/NotoSansJP-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  unicode-range: U+3000-303f, U+3040-309f, U+30A0-30FF, U+ff00-ffef, U+4e00-9faf;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */