:root {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// cjk unicode-range: U+3000-30FF, U+FF00-FFEF, U+4E00-9FAF;
// jp unicode-range: U+3000-303f, U+3040-309f, U+30A0-30FF, U+ff00-ffef, U+4e00-9faf;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

form {
  padding: 0 1em;
  max-width: 400px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */