.homePage {
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        height: 4em;
        background-color: var(--primary);

        .logoutButton {
            color: var(--typography-contrast)
        }
    }

    .wordsList {
        flex-grow: 1;
        padding-top: .5em;

        .wordsListItem {
            padding: 16px 24px;
            border-radius: 5px;
            background-color: var(--bg-primary);
            cursor: pointer;
            box-shadow: 1px 1px 5px -1px var(--shadow);
            // border-bottom: 1px solid lightgray;

            &:not(:last-child) {
                margin-bottom: .5em;
            }

            .MuiGrid-root {
                display: flex;
                align-items: center;
            }

            .writing {
                margin-bottom: 5px;
                font-size: 1.2em;
            }

            .circularProgressWithLabel {
                position: relative;
                display: inline-flex;
                margin: 0 auto;

                .backgroundCircle {
                    position: absolute;
                    color: var(--bg-secondary);
                }

                .foregroundCircle {
                    position: absolute;
                    inset: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .createWordButton {
        width: fit-content;
        color: var(--secondary);

        svg {
            width: 60px;
            height: 60px;
        }

        &:hover {
            background-color: color-mix(in srgb, var(--secondary), transparent 90%);
        }
    }
}

.authPage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;

    .authForm {
        padding: 0 1em;
        max-width: 400px;
    }

    .MuiAvatar-root {
        background-color: var(--secondary);
    }

    .MuiInputBase-input,
    .MuiButton-fullWidth {
        box-sizing: border-box;
        height: 50px;
    }

    .MuiDivider-wrapper {
        font-size: .875rem;
    }

    .googleLogo {
        margin-right: 5px;
    }
}

.wordDialog {
    padding: 1em;

    .chipsOuterContainer {
        overflow: hidden;
        transition: height .3s ease;
    }
}