@import './variables';

.homePage {
    height: 100%;
    display: flex;
    flex-direction: column;

    // .header {
    //     height: 3.5em;

    //     .signOutButton {
    //         // color: $textLight;
    //     }

    //     .createWordButton {
    //         color: $textLight;
    //     }
    // }

    .wordsList {
        flex-grow: 1;
        padding-top: .5em;

        .wordsListItem {
            padding: 16px 24px;
            border-radius: 5px;
            background-color: white;
            cursor: pointer;
            box-shadow: 1px 1px 5px -1px #664dce1c;
            // border-bottom: 1px solid lightgray;

            &:not(:last-child) {
                margin-bottom: .5em;
            }

            .MuiGrid-root {
                display: flex;
                align-items: center;
            }

            .writing {
                margin-bottom: 5px;
                font-size: 1.2em;
            }
        }
    }


}