.MuiContainer-root {
    max-width: 900px;
}

.MuiButton-root {
    text-transform: none !important;

    &.MuiButton-containedPrimary {
        background-color: var(--primary);

        &:hover {
            background-color: var(--primary-dark);
        }
    }

    &.MuiButton-outlinedPrimary {
        color: var(--primary);
        border-color: var(--primary);

        &:hover {
            border-color: var(--primary);
        }
    }
}

.MuiCircularProgress-colorPrimary {
    color: var(--primary) !important;
}

.MuiFormLabel-root {
    color: var(--primary-dark-desaturated) !important;

    &:not(.MuiInputLabel-shrink) {
        font-size: .875rem;
    }
}

.MuiFilledInput-root {
    background-color: var(--bg-secondary) !important;

    &::before {
        border-bottom: none !important;
    }

    &::after {
        border-bottom-color: var(--primary) !important;
    }
}

// .MuiChip-filled {
//     background-color: var(--primary-light) !important;
// }

.MuiChip-outlined {
    border-color: var(--secondary) !important;
    background-color: var(--secondary-light) !important;
    color: var(--secondary-dark) !important;
    font-weight: 500 !important;

    .MuiChip-deleteIcon {
        font-size: 19px !important;
        color: var(--secondary) !important;
    }
}

.Mui-focused {
    &.MuiFormLabel-root {
        color: var(--primary) !important;
    }

    .MuiOutlinedInput-notchedOutline {
        border-color: var(--primary) !important;
    }
}

.Mui-error {
    &.MuiFormLabel-root {
        color: var(--error) !important;
    }

    .MuiOutlinedInput-notchedOutline {
        border-color: var(--error) !important;
    }
}