.MuiContainer-root {
    max-width: 900px;
}

.MuiButton-root {
    text-transform: none !important;

    &.MuiButton-containedPrimary {
        background-color: var(--primary);

        &:hover {
            background-color: var(--primary-dark);
        }
    }

    &.MuiButton-outlinedPrimary {
        color: var(--primary);
        border-color: var(--primary);

        &:hover {
            border-color: var(--primary);
        }
    }
}

.MuiFormLabel-root {
    &:not(.MuiInputLabel-shrink) {
        font-size: .875rem;
    }
}

.Mui-focused {
    &.MuiFormLabel-root {
        color: var(--primary) !important;
    }

    .MuiOutlinedInput-notchedOutline {
        border-color: var(--primary) !important;
    }
}

.Mui-error {
    &.MuiFormLabel-root {
        color: var(--error) !important;
    }

    .MuiOutlinedInput-notchedOutline {
        border-color: var(--error) !important;
    }
}